#init-loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}

#init-load-items {
    margin-top: 45vh;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

#greetings {
    justify-self: center;
    align-self: center;
}

#load-box {
    justify-self: center;
    align-self: center;
    position: absolute;
    width: 300px;
    height: 15px;
    border: 1.5pt solid #9effb9;
    overflow: hidden;
}

#load-status {
    --animation-delay: 0.5s;

    position: absolute;
    width: 100%;
    height: 100%;
    transition: right, 0.1s, ease-in, var(--animation-delay);   

    background: rgb(188,207,255);
    background: linear-gradient(133deg, rgba(188,207,255,1) 40%, rgba(145,127,255,1) 100%);
}

.load0 {
    right: 100%;
}

.load1 {
    right: 80%;
    transition: right, 0.5s, ease-in, var(--animation-delay);
}

.load2 {
    right: 30%;
    transition: right, 1s, ease-in, var(--animation-delay);
}

.load3 {
    right: 0%;
    transition: right, 0.8s, ease-in, var(--animation-delay);
}

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.default-loading {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: rgb(60,75,87);
    background: radial-gradient(circle, rgba(60,75,87,0.7) 0%, rgba(28,38,43,0.7) 100%);
}

.loader {
    --size: calc(192px);
    --component-size: calc(6pt);
    --component-color: #ffcccc;
    position: fixed;
    z-index: 9999;
    top: calc(50% - var(--size)/2);
    left: calc(50% - var(--size)/2);
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    perspective: 800px;
}

.inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;  
}

.inner.one {
    left: 0%;
    top: 0%;
    animation: rotate-one 1s linear infinite;
    border-bottom: var(--component-size) solid var(--component-color);
}

.inner.two {
    right: 0%;
    top: 0%;
    animation: rotate-two 1s linear infinite;
    border-right: var(--component-size) solid var(--component-color);
}

.inner.three {
    right: 0%;
    bottom: 0%;
    animation: rotate-three 1s linear infinite;
    border-top: var(--component-size) solid var(--component-color);
}

@keyframes rotate-one {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes rotate-two {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes rotate-three {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}