@media only screen and (max-width: 990px) { 
    :root {
        font-size: 1.2rem;
    }

    main .divide {
        border-right: none;
        border-bottom: 1pt solid black;
        padding: 0;
    }

    #sat.rounded, #academic .content.rounded {
        width: 100%;
        max-width: 95vw;
    }

    #sat .bar {
        --bar-width: 100%;
    }
}

@media only screen and (max-width: 560px) {
    :root {
        font-size: 1rem;
    }

    #academic table.table {
        font-size: 80%;
    }
}

@media only screen and (min-width: 766px) {
    #side-nav {
        display: none;
    }
}