@media only screen and (max-width: 990px) { 
    main .divide {
        border-right: none;
        border-bottom: 1pt solid black;
        padding: 0;
    }

    #sat.rounded {
        width: 100%;
        max-width: 95vw;
    }

    #sat .bar {
        --bar-width: 100%;
    }

    #academic .content.rounded {
        width: auto;
        max-width: 95vw;
    }
}

@media only screen and (min-width: 766px) {
    #side-nav {
        display: none;
    }
}