@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    src: url(https://fonts.gstatic.com/s/quicksand/v31/6xKtdSZaM9iE8KbpRA_hK1QN.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    font-family: "Quicksand", Georgia, 'Times New Roman', serif;
    font-size: 1.2rem;
    overflow: initial;

    --main-height: 60rem;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

.hidden {
    display: none;
}

body {

}

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.bg-custom {
    background: rgb(246,255,255);
    background: linear-gradient(90deg, rgba(246,255,255,1) 40%, rgba(232,255,254,1) 100%);
}

header {
    height: 3.5rem;
    outline: 0.2rem solid black;
    overflow: hidden;
    padding-left: 0.8rem;
}

.nav-icon {
    justify-content: left;
    max-height: 2.5rem;
    width: auto;
}

nav.navbar-expand-md li {
    border-right: 1pt solid black;
    margin-right: 0.5rem;
    font-family: "Quicksand";
}

#side-nav-button {
    position: absolute;
    align-self: center;
    right: 3%;
    font-size: 150%;
}

#side-nav {
    position: fixed;
    height: 100vh;
    width: 10rem;
    top: 3.5rem;
    right: -1%;
    border: 0.15rem solid black;
    padding: 0.5rem 1.5rem;
    font-family: "Quicksand";

    box-shadow: 0 0 2rem grey;
    transition: right 1s ease-out;
    background: rgb(188,255,234);
    background: linear-gradient(133deg, rgba(188,255,234,1) 40%, rgba(127,255,221,1) 100%);
}

#side-nav.hiddenN {
    right: -14rem;
    transition: right 1s ease-out;
}

#side-nav li {
    border-bottom: 1pt solid grey;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------*/

main {
    margin-top: 3.5rem;
    min-height: var(--main-height);
    background: rgba(230,242,255,1);
    font-size: 1.2rem;
    font-family: "Quicksand";
}

main .divide {
    border-right: 1pt solid black;
    padding: 0;
}

#about, #main.card.rounded {
    --height: 56rem;

    min-height: var(--height);
    border: 0.2rem solid black;
    margin: calc((var(--main-height) - var(--height))/2) 2rem;
    padding: 1rem;

    background-color: white;
    overflow: hidden;
    justify-content: center;
}

#main.card.rounded .card-img-top {
    max-width: 22rem;
    height: auto;
    align-self: center;
}

main .wrapper {
    display: grid;
    padding: 0;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------*/

footer {
    min-height: 7rem;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(18,18,67,1) 50%, rgba(53,50,118,1) 80%);

    color: white;
    font-size: 1.2rem;
    font-family: "Quicksand";
    text-align: left;

    display: grid;
    align-items: center;
    overflow: hidden;
}

footer p {
    padding: 0;
    margin: 0;
}

footer ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

footer div.row div {
    margin: 1rem;
}

.nav i {
    padding-right: 0.5rem;
}

.nav a {
    color: white;
}