#academic {
    padding: 2rem;
}

#academic .collection {
    display: grid;
    grid-template-columns: repeat(auto-fill, 12rem);
    grid-template-rows: none;
    margin-bottom: 10%;
    margin-top: 1rem;
}

#academic .card {
    border: 0.15rem solid black;
    height: 3rem;
    overflow: initial;
    display: grid;
    padding-right: 5%;
    margin-bottom: 1rem;
}

#academic .card-text {
    text-align: end;
    align-self: center;
}

.card>a {
    position: absolute;
    left: 5%;
    top: 10%;
    color: black;
    font-size: 1.5rem;
    margin-right: 0.4rem;
}

#transcript::after {
    content: " (Bachelor)";
    font-size: 1rem;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#sat {
    border: 0.15rem solid black;
    background: white;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9999;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 2rem grey;
    padding: 0.6rem;
    overflow-y: auto;
    overflow-x: hidden;
    min-width: 10rem;
    width: 50rem;
    max-height: 86vh;
}

#sat img {
    float: right;
    margin-right: 2.5rem;
    height: 5rem;
    width: auto;
}

#academic .content {
    border: 0.15rem solid black;
    background: white;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9999;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 2rem grey;
    padding: 0.6rem;
    overflow-y: auto;
    overflow-x: auto;
    width: 45rem;
    max-height: 86vh;
}

.content a, #sat>a {
    font-size: 1.5rem;
    color: black;
    position: absolute;
    top: 0.4rem;
    right: 1rem;
}

.content img {
    float: right;
    margin-right: 2.5rem;
    height: 5rem;
    width: auto;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.bar {
    border: 1pt solid black;
    height: 0.6rem;
    width: var(--bar-width);
    overflow: hidden;
    background-color: #b8b6bc;
    margin-bottom: 0.6rem;
    --bar-width: 21rem;
}

.e {
    height: 100%;
    width: 100%;
    background: rgb(114,83,186);
    background: linear-gradient(133deg, rgba(114,83,186,1) 40%, rgba(111,138,186,1) 100%);
    position: relative;
}

.e3-7 {
    animation: to3-7 1s linear;
    left: calc(var(--bar-width)*(-4)/7);
}

.e4-7 {
    animation: to4-7 1s linear;
    left: calc(var(--bar-width)*(-3)/7);
}

.e7-7 {
    animation: to7-7 1s linear;
    left: 0;
}

@keyframes to3-7 {
    0% {
        left: calc(var(--bar-width)*-1);
    }
    100% {
        left: calc(var(--bar-width)*(-4)/7);
    }
}

@keyframes to4-7 {
    0% {
        left: calc(var(--bar-width)*-1);
    }
    100% {
        left: calc(var(--bar-width)*(-3)/7);
    }
}

@keyframes to7-7 {
    0% {
        left: calc(var(--bar-width)*-1);
    }
    100% {
        left: 0;
    }
}