#academic {
    padding: 2rem;
}

#academic .collection {
    display: grid;
    grid-template-columns: repeat(auto-fill, 10.5rem);
    margin-bottom: 10%;
    margin-top: 1rem;
}

#academic .card {
    border: 0.15rem solid black;
    height: 3rem;
    overflow: initial;
    display: grid;
    padding-right: 5%;
    margin-bottom: 1rem;
}

#academic .card-text {
    text-align: end;
    align-self: center;
}

.card>a {
    position: absolute;
    left: 5%;
    top: 10%;
    color: black;
    font-size: 1.5rem;
    margin-right: 0.4rem;
}

#transcript::after {
    content: " (Bachelor)";
    font-size: 1rem;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#sat {
    border: 0.15rem solid black;
    background: white;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 2rem grey;
    padding: 0.2rem;
    min-width: 10rem;
}

#academic .content {
    border: 0.15rem solid black;
    background: white;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9999;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 2rem grey;
    padding: 0.6rem;
    overflow-y: auto;
    max-height: 96vh;
}

.content a {
    font-size: 1.5rem;
    color: black;
    position: absolute;
    top: 0.4rem;
    right: 1rem;
}